
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "original surfer", sans-serif  ;
    background-color: rgb(237, 231, 221);
    color: #333;
}

header, main{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.top-banner{
    background-color: rgb(245, 167, 23);
    text-align: center;
    padding: 6px 10px;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

.nav-principal{
    background-color: beige;
    top: 0;
    padding: 15px 25px ;
    max-width: 1400px;
    margin: 0 auto;
    position: sticky;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}


/*nav li{
    display: inline;
    margin: 0 0 0 15px;
}
*/
 .logo{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    transition: transform 0.3s ease;
 }
 
 .logo:hover{
    transform: translateY(-10px);
 }


 .nav-lista{
    list-style: none;

    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 50px;
 }

 .nav-lista a{
    text-decoration: none;
    color:  rgb(79, 40, 6);
    font-weight: bold;
    transition: .3s;
    font-size: 20px;
 }

 .nav-lista a:hover{
    color: orange;
 }

 /*intreumentos*/

 .catalogo-contenedor{
    padding: 20px;
 }


.tarjeta-intrumentos{
    width: 280px;
    background-color: rgba(217, 193, 159, 0.667);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding: 8px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1) ;
    transition: transform .2s ease, box-shadow .2s ease;
    position: relative;    
}

.tarjeta-intrumentos:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
/*
.producto-img{
    width: 100%;
    height: 240px;
    object-fit: contain;
}*/

.producto-img{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: contain;
    height: 240px;
}


.producto-titulo{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}

.producto-desc{
    font-size: 15px;
    color: black;
}

.producto-precio{
    font-size: 18px;
    font-weight: bold;
    color: rgb(222, 91, 35);
    margin-bottom: 5px;
    padding: 10px;
}

.producto-btn{
    background-color: rgb(228, 147, 109);
    color: whitesmoke;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer ;
    transition: 0.3s;
}

.producto-btn:hover{
    background-color: rgb(226, 190, 112);
}

/*accesorios*/

.tarjeta-accesorios{
    display: inline-block;
    width: 280px;
    background-color: rgba(217, 193, 159, 0.667);
    border-radius: 15px;
    margin: 10px;
    padding: 8px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1) ;
    transition: transform .2s ease, box-shadow .2s ease;
    position: relative;    
}

.tarjeta-accesorios:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.heart{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
    color: white;
}

.Accesorio-titulo{
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 8px;
    text-align: center;
}

.Accesorio-desc{
    font-size: 15px;
    color: black;
    margin-bottom: 15px;
    text-align: justify;
}

.precio-caja{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.Accesorio-precio{
    font-weight: bold;
    color: rgb(222, 91, 35);
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px;
}

.Accesorio-btn{
    background: transparent;
    border: none;
    cursor: pointer ;
    transition: 0.3s;
    opacity: 0.6;
    padding: 12px;
    color: whitesmoke;
    font-size: 30px;

}

.Accesorio-btn:hover{
    background-color: rgb(226, 190, 112);
}

/*oferta*/
.precio-caja-oferta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.oferta{
    margin-top: 5px;
    padding-left: 10px;
}

.Accesorio-precio-oferta{
    font-weight: bold;
    color: rgb(222, 91, 35);
    text-decoration: line-through;
    font-size: 10px;
}

.precio-oferta{
    font-weight: bold;
    color: rgb(222, 91, 35);
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px;
}

/*calificacion */

.calificacion-tarjeta{
    width: 330px;
    background: rgb(234, 184, 91);
    padding: 25px;
    border-radius: 20px;
    color: rgb(28, 17, 17);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    margin: 0 10px 0 40px;
    padding: 25px;
}

.calificacion-desc{
    margin-bottom: 15px;
    text-align: justify;
}

.calificacion-btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.calificacion-btn button{
    background: rgb(100, 57, 26) ;
    color: rgb(163, 133, 109);
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.calificacion-btn button:hover{
    background-color: antiquewhite;
    color: black;
}


.calificacion-enviar{
    width: 100%;
    background: rgb(62, 29, 29);
    border: none;
    padding: 14px;
    border-radius: 5px;
    color: bisque;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: .3s;
}

.calificacion-enviar:hover{
    background-color: antiquewhite;
    color: black;
}

/*contacto*/

.contacto-section{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;

}
.contacto-contenido,
.contacto-aside{
    flex: 1 1 80px;
}

.form-contacto{
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-contacto input,
.form-contacto textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.boton-mensaje{
    background-color: rgb(141, 57, 26);
    color: beige;
    border-radius: 5px;
    transition: 0.2s ease-in-out; 
    font-weight: bold;
    border: none;
    width: 35%;
    height: 35px;
    margin-top: 15px;
}

.boton-mensaje:hover{
    background-color: rgb(240, 194, 109);
}


/*boton carrito*/

.boton-carrito{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: orange;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 12px 20px;
    color: white;
    z-index: 1500;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;
}

.boton-carrito:hover{
    background-color: rgb(240, 194, 109);
}

/*general*/

section{
    padding: 25px;
}

h2{
    font-size: 28px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

ul{
    padding-left: 20px;
    margin: 10px 0;
}

li{
    margin-bottom: 6px;
}

h3{
    margin-bottom: 12px;
    font-size: 22px;
}
h4{
    margin-bottom: 10px;
    margin-top: 18px;
}

.equipo-section p{
    max-width: 1200px;
    margin: 0 auto 20px;
}

.equipo-contenedor{
    display: flex;
    justify-content:center;
    align-items: stretch;
    gap: 40px;
    margin-top: 60px;
}

.equipo-card{
    background-color:rgba(174, 215, 173, 0.649);
    width: 320px;
    padding: 60px 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
    text-align: justify;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.equipo-foto{
    width: 130px;
    height: 130px;
    object-fit: contain;
    border-radius: 30%;
    border: 3px solid white;
    background-color: rgba(249, 236, 206, 0.97);

    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
}

.equipo-card h3{
    margin-top: 18px;
    color: rgb(214, 149, 51);
    font-size: 20px;
}

.equipo-rol {
    font-size: 16px;
    color: rgb(92, 61, 18);
    margin: 8px;
}

.equipo-desc {
    font-size: 15px;
    color: rgb(83, 62, 19);
    line-height: 1;
}

.btn-abrir {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Fondo del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    /* Oculto por defecto */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* Mostrar modal */
.modal:target {
    opacity: 1;
    pointer-events: auto;
}

/* Contenido del modal */
.modal-contenido {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

/* Botón cerrar */
.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    font-size: 24px;
    color: #333;
}

/*
p{
    font-size: 17px;
}
*/

footer{
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-color:  rgb(245, 167, 23) ;
    color: black;
}

/* Medida para movil*/

@media (max-width: 768px) {

  /* ===== NAV ===== */
  .nav-principal {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .nav-lista {
    flex-direction: column;
    margin-right: 0;
    gap: 10px;
  }

  .logo {
    font-size: 32px;
  }

  /* ===== CATÁLOGOS ===== */
  .catalogo-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarjeta-intrumentos,
  .tarjeta-accesorios {
    width: 90%;
    max-width: 320px;
  }

  /* ===== EQUIPO ===== */
  .equipo-contenedor {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .equipo-card {
    width: 90%;
    max-width: 320px;
  }

  /* ===== CALIFICACIÓN ===== */
  .calificacion-tarjeta {
    width: 90%;
    margin: 20px auto;
  }

  /* ===== CONTACTO ===== */
  .contacto-section {
    flex-direction: column;
  }

  .boton-mensaje {
    width: 100%;
  }

  /* ===== BOTÓN CARRITO ===== */
  .boton-carrito {
    font-size: 14px;
    padding: 10px 16px;
    bottom: 15px;
    right: 15px;
  }
}


