
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 231, 221);
    color: #333;
}

header, main{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.top-banner{
    background-color: rgb(245, 167, 23);
    text-align: center;
    padding: 6px 10px;
    font-size: 14px;
    color: black;
}

.nav-principal{
    background-color: beige;
    top: 0;
    padding: 15px 25px ;
    max-width: 1400px;
    margin: 0 auto;
    position: sticky;
    z-index: 1000;
}


/*nav li{
    display: inline;
    margin: 0 0 0 15px;
}
*/
 .logo{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    transition: transform 0.3s ease;
 }
 
 .logo:hover{
    transform: translateY(-10px);
 }


 .nav-lista{
    list-style: none;
 }

 .nav-lista a{
    text-decoration: none;
    color:  rgb(79, 40, 6);
    font-weight: bold;
    transition: .3s;
    font-size: 20px;
 }

 .nav-lista a:hover{
    color: orange;
 }

 /*intreumentos*/

 .catalogo-contenedor{
    padding: 20px;
 }


.tarjeta-intrumentos{
    width: 280px;
    background-color: rgba(217, 193, 159, 0.667);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding: 8px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1) ;
    transition: transform .2s ease, box-shadow .2s ease;
    position: relative;    
}

.tarjeta-intrumentos:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
/*
.producto-img{
    width: 100%;
    height: 240px;
    object-fit: contain;
}*/

.producto-img{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: contain;
    height: 240px;
}


.producto-titulo{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}

.producto-desc{
    font-size: 15px;
    color: black;
}

.producto-precio{
    font-size: 18px;
    font-weight: bold;
    color: rgb(222, 91, 35);
    margin-bottom: 5px;
    padding: 10px;
}

.producto-btn{
    background-color: rgb(228, 147, 109);
    color: whitesmoke;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer ;
    transition: 0.3s;
}

.producto-btn:hover{
    background-color: rgb(226, 190, 112);
}

/*accesorios*/

.tarjeta-accesorios{
    display: inline-block;
    width: 280px;
    background-color: rgba(217, 193, 159, 0.667);
    border-radius: 15px;
    margin: 10px;
    padding: 8px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1) ;
    transition: transform .2s ease, box-shadow .2s ease;
    position: relative;    
}

.tarjeta-accesorios:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.heart{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
    color: white;
}

.Accesorio-titulo{
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 8px;
    text-align: center;
}

.Accesorio-desc{
    font-size: 15px;
    color: black;
    margin-bottom: 15px;
    text-align: justify;
}

.precio-caja{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.Accesorio-precio{
    font-weight: bold;
    color: rgb(222, 91, 35);
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px;
}

.Accesorio-btn{
    background: transparent;
    border: none;
    cursor: pointer ;
    transition: 0.3s;
    opacity: 0.6;
    padding: 12px;
    color: whitesmoke;
    font-size: 30px;

}

.Accesorio-btn:hover{
    background-color: rgb(226, 190, 112);
}

/*oferta*/
.precio-caja-oferta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.oferta{
    margin-top: 5px;
    padding-left: 10px;
}

.Accesorio-precio-oferta{
    font-weight: bold;
    color: rgb(222, 91, 35);
    text-decoration: line-through;
    font-size: 10px;
}

.precio-oferta{
    font-weight: bold;
    color: rgb(222, 91, 35);
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px;
}

/*contacto*/

.contacto-contenido{
    margin-top: 40px;
}

.form-contacto{
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}


.boton-carrito{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: orange;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 12px 20px;
    color: white;
    z-index: 1500;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;
}

.boton-carrito:hover{
    background-color: rgb(240, 194, 109);
}

/*general*/

section{
    padding: 25px;
}

h2{
    font-size: 28px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

ul{
    padding-left: 20px;
    margin: 10px 0;
}

li{
    margin-bottom: 6px;
}

h3{
    margin-bottom: 12px;
    font-size: 22px;
}
h4{
    margin-bottom: 10px;
    margin-top: 18px;
}


footer{
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-color:  rgb(245, 167, 23) ;
    color: black;
}

